html, body { margin:0; padding:0; border:0; }
html { font-family:sans-serif;
  background-color:$c-white-linen; color:$c-sandstone; 
}

.universe { min-height:100vh; }
.container { max-width:500px; min-width:320px;
  width:100%; margin:0 auto; 
  padding-left:10px; padding-right:10px;
  box-sizing: border-box;
}