.game__goal-container { display:flex;
  justify-content:space-between; align-items: baseline;
  padding-top:10px;
}
  .rules__description { margin:0; }
  .btn__new-game { flex-shrink: 0;
    margin-left:20px; padding:10px 20px;
    border-radius:3px; font-weight:600;
    background-color:$c-sement; color:$c-white-linen;
    user-select:none;
  }
  .btn__new-game:hover { cursor:pointer; }

.game__rules-container { margin-top:50px; }
  .game__rules { line-height:1.65em; margin:0; }