.grid { display:inline-block; position:relative;
  width:100%;
  padding:$s-grid-border-half-size;
  margin-top:40px; background-color:$c-malta;
  box-sizing: border-box;
  border-radius:6px;
}
.grid.has-won,
.grid.has-lost { 
  .grid__state { display:block; }
}

.grid.has-won { .state__win { display:block; } }
.grid.has-lost { .state__lost { display:block; } }

.grid__state { display:none; position: absolute;
  top: 0; left: 0; right: 0; bottom: 0; z-index: 1;
  background-color: rgba(#fff, .8);
}
  .state__win,
  .state__lost { display:none; text-align:center;
    margin:40px 10px;
    font-size:40px; font-weight:600;
  }
