@media (min-width: $b-header-sm) {
  @include headerTitle();
}

@media (min-width: $b-header-xs) and (max-width: $b-header-sm - 1px) {
  @include headerTitleSm();
}

@media (max-width: $b-header-xs - 1px) {
  @include headerTitleXs();
}