@mixin headerTitle($fz: $fz-title) {
  .header__title { font-size:$fz; }
}

@mixin headerTitleSm() {
  @include headerTitle($fz-title-sm);
}

@mixin headerTitleXs() {
  @include headerTitle($fz-title-xs);
}