.header { display:flex; justify-content:space-between;
  padding-top:40px; 
}
  .header__title-container { flex-grow:2; }
  .header__score-container { display:flex; flex-direction:column;
    justify-content:space-around; padding:15px 10px; 
    background-color:$c-malta; box-sizing:border-box;
    vertical-align:top; border-radius:3px;
  }

  .header__title,
  .header__author,
  .score_label,
  .score_value { margin:0; line-height:1em; }
  .author__lnk { font-weight:600; text-decoration:underline; 
    color:$c-sandstone;
  }
  .score_label,
  .score_value { font-weight:600; text-align:center; }
  .score_label { font-size:16px; color:$c-bizarre; }
  .score_value { padding-top:6px; font-size:32px; color:#fff; }