$c-white-linen:#faf8ef;
$c-malta:#bbada0;
$c-sandstone:#776e65;
$c-bizarre:#eee4da;
$c-sement:#8f7a66;

$c-slot-bg:rgba(238, 228, 218, .35);

$c-tile-base:$c-sandstone;
$c-tile-base-bg:$c-bizarre;

$c-tile-tier0-bg-start:$c-bizarre;
$c-tile-tier0-bg-end:$c-bizarre;
$c-tile-tier0:$c-sandstone;

$c-tile-tier1-bg-start:#f2b179;
$c-tile-tier1-bg-end:#f65e3b;
$c-tile-tier1:#f9f6f2;

$c-tile-tier2-bg-start:#edcf72;
$c-tile-tier2-bg-end:#edc22e;
$c-tile-tier2:#f9f6f2;
$c-tile-tier2-sh:#f3d774;
$c-tile-tier2-sh-inner:#fff;