.slot { display:inline-block; position:relative;
  padding:$s-grid-border-half-size;
  box-sizing: border-box;
}
.slot:before { content:''; 
  display:block; padding-bottom:100%; 
  background-color:$c-slot-bg;
}