@media (min-width: $b-header-sm) {
  @include tileFontSize();
}

@media (min-width: $b-header-xs) and (max-width: $b-header-sm - 1px) {
  @include tileFontSizeSm();
}

@media (max-width: $b-header-xs - 1px) {
  @include tileFontSizeXs();
}