@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); } 
}

.tile { position:absolute; opacity:.001;
  top:$s-grid-border-half-size; bottom:$s-grid-border-half-size; 
  left:$s-grid-border-half-size; right:$s-grid-border-half-size; 
  color:$c-tile-base; text-align:center;
  font-weight:600; border-radius:3px;
  transition-property:transform;
  transition-timing-function:ease-in;
  animation-timing-function:ease-in;
}
.tile:before { content:''; 
  display:inline-block; height:100%;
  vertical-align: middle;
}
.tile.is-visible { opacity:1;
  background-color:$c-tile-base;
}
.tile.pulse { animation-name:pulse; }



/**
 * Tile Styling 
 */
$tile-value: $s-tile-value-start;
@while $tile-value <= $s-tile-value-end {
  .tile[data-value="#{$tile-value}"] {
    
    @if $tile-value <= $s-tile-tier0-breakpoint {
      color:$c-tile-tier0;
      background-color:mix(
        $c-tile-tier0-bg-end,
        $c-tile-tier0-bg-start,
        floor(100 * ($tile-value - $s-tile-value-start) / ($s-tile-tier0-breakpoint - $s-tile-value-start))
      );
    }

    @if ($tile-value > $s-tile-tier0-breakpoint) and ($tile-value <= $s-tile-tier1-breakpoint) {
      color:$c-tile-tier1;
      background-color:mix(
        $c-tile-tier1-bg-end,
        $c-tile-tier1-bg-start,
        floor(100 * ($tile-value - $s-tile-tier0-breakpoint * 2) / ($s-tile-tier1-breakpoint - $s-tile-tier0-breakpoint * 2))
      );
    }

    @if ($tile-value > $s-tile-tier1-breakpoint) and ($tile-value <= $s-tile-tier2-breakpoint) {
      box-shadow: 0 0 30px 10px rgba($c-tile-tier2-sh, $tile-value / ($s-tile-tier2-breakpoint * 2)), inset 0 0 0 1px rgba($c-tile-tier2-sh-inner, $tile-value / ($s-tile-tier2-breakpoint * 3));
      color:$c-tile-tier2;
      background-color:mix(
        $c-tile-tier2-bg-end,
        $c-tile-tier2-bg-start,
        floor(100 * ($tile-value - $s-tile-tier1-breakpoint * 2) / ($s-tile-tier2-breakpoint - $s-tile-tier1-breakpoint * 2))
      );
    }
  }

  $tile-value: $tile-value * 2
}
