$s-grid-border-half-size:7px;
$s-grid-border-size:$s-grid-border-half-size * 2;

$s-tile-value-start:2;
$s-tile-value-end:2048;

$s-tile-tier0-breakpoint:4;
$s-tile-tier1-breakpoint:64;
$s-tile-tier2-breakpoint:$s-tile-value-end;

$fz-title:80px;
$fz-title-sm:72px;
$fz-title-xs:64px;

$fz-tile:38px;
$fz-tile-sm:26px;
$fz-tile-xs:18px;