doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")

    link(rel="icon" href="data:;base64,=")
    link(rel="stylesheet" href="./styles.css")

    title="2048 Clone by Volodymyr Khytskyi"
  body
    div(class="universe", id="universe")
      div(class="container")
        div(class="header")
          div(class="header__title-container")
            h1(class="header__title") 2048
            p(class="header__author") by 
              a(class="author__lnk" href="https://linkedin.com/in/volodymyrkhytskyi") Volodymyr Khytskyi
          div(class="header__score-container")
            p(class="score_label") Score
            p(class="score_value", id="score") 0
        div(class="game__goal-container")
          p(class="rules__description") Join the numbers and get to the <b>2048 tile!</b>
          a(class="btn__new-game", id="btn-new-game") New Game
        div(id="grid" class="grid")
          div(class="grid__state")
            p(class="state__win") Congratulations, you won!
            p(class="state__lost") Game over. Try again!
        div(class="game__rules-container")
          p(class="game__rules") <b>HOW TO PLAY:</b> Use your <b>arrow keys or screen gestures</b> to move the tiles. When two tiles with the same number touch, they <b>merge into one!</b>
    script(src="./client.js")